.content_principal{
  display: flex;
  gap: 5%;
  font-family:var(--font-mono);
}

.produits{
  padding-bottom: 2%;
  border-bottom:1px solid rgb(160, 160, 160) ;
}

.panier{
  padding-bottom: 2%;
  border-bottom:1px solid rgb(160, 160, 160) ;

}

